@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$orange: #EDBD6B;
$lite-blue: rgb(197, 238, 247);
$dark-blue: rgb(5, 13, 80);
$green: rgb(28, 105, 99);

body {
    margin: 0;
    padding: 0;
    background-color: $lite-blue;

    #main-ph {
        width: 30%;
        margin:  30px 5%;
        box-sizing: border-box;
        box-shadow: 0 0 30px  $orange;
        border-radius: 6px;
    }

    #main-block {
        display: inline-block;
        width: 40%;
        float: right;
        margin-right: 10%;
        margin-top: 3%;
        text-align: center;

        h2, h3 {
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            color: $dark-blue;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
        }

        .button {
            display: inline-block;
            text-decoration: none;
            font-weight: 500;
            font-size: 32px;
            padding: 16px 32px;
            margin: 20px 40px;
            border: 2px solid $orange;
            border-radius: 16px;
            color: $green;
            box-shadow: 2px 2px 6px $green;
            transition: 0.6s;
            &:hover {
                background-color: #EBFFFF;
                box-shadow: 0 0 20px $orange;
            }
        }

        #links {
            display: inline-block;
            margin-top: 30px;

            a {
             display: inline-block;
             width: 50px;
             height: 50px;
             margin: 0 20px;
             
                img {
                    display: inline-block;
                    max-width: 100%;
                }
            }
        }
    }

    #awards {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font-size: 40px;
        padding-top: 20px;
        margin-bottom: 160px;
        background-color: $lite-blue;
        color: $dark-blue;

        img {
            display: inline-block;
            cursor: pointer;
            width: 350px;
            margin: 0 15px;
            border-radius: 8px;
        }
    }

    #comments {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        text-align: center;
        font-size: 40px;
        padding-top: 20px;
        color: $dark-blue;
        background-color: $lite-blue;

    }
}