@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #c5eef7;
}
body #main-ph {
  width: 30%;
  margin: 30px 5%;
  box-sizing: border-box;
  box-shadow: 0 0 30px #EDBD6B;
  border-radius: 6px;
}
body #main-block {
  display: inline-block;
  width: 40%;
  height: 80vh;
  float: right;
  margin-right: 10%;
  margin-top: 10vh;
  overflow: hidden;
  position: relative;
}
body #main-block .lenta {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 165vw;
  height: 100%;
  text-align: left;
}
body #main-block .main-block-page {
  display: inline-block;
  width: 40vw;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}
body #main-block h2, body #main-block h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #050d50;
}
body #main-block h2 {
  font-size: 32px;
}
body #main-block h3 {
  font-size: 24px;
}
body #main-block .button {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  padding: 16px 32px;
  margin: 20px 40px;
  border: 2px solid #EDBD6B;
  border-radius: 16px;
  color: #1c6963;
  box-shadow: 2px 2px 6px #1c6963;
  transition: 0.6s;
}
body #main-block .button:hover {
  background-color: #EBFFFF;
  box-shadow: 0 0 20px #EDBD6B;
}
body #main-block #links {
  display: inline-block;
  margin-top: 10px;
}
body #main-block #links a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
body #main-block #links a img {
  display: inline-block;
  max-width: 100%;
}
body #awards {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 160px;
  background-color: #c5eef7;
  color: #050d50;
}
body #awards img {
  display: inline-block;
  cursor: pointer;
  width: 350px;
  margin: 0 15px;
  border-radius: 8px;
}
body #comments {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  color: #050d50;
  background-color: #c5eef7;
}