@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #daf8ff;
}
body .owl-carousel {
  margin: 20px 0;
  padding: 10px 0 0 0;
}
body .owl-carousel .owl-prev, body .owl-carousel .owl-next {
  display: none;
}
body h2 {
  font-family: "Libre Baskerville", serif;
}
body p {
  font-weight: light;
  font-family: "Roboto", sans-serif;
}
body #main {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 10px 0;
}
body #main #main-ph img {
  display: inline-block;
  width: 330px;
  height: 500px;
  border-radius: 8px;
  margin: 20px;
  position: relative;
  left: 5%;
}
body #main section {
  display: inline-block;
  position: absolute;
  min-width: 360px;
  min-height: 500px;
  right: 25%;
  margin-top: 25px;
  text-align: center;
  font-size: 24px;
}
body #main #links {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 30px;
  justify-content: space-evenly;
}
body #main #links a {
  display: inline-block;
}
body #main #links img {
  display: inline-block;
  width: 60px;
  height: 60px;
}
body #main ul {
  margin-top: 60px;
  display: inline-block;
  list-style-type: none;
}
body #main ul li {
  display: block;
  margin: 15px 0;
  text-align: center;
}
body #contButtons {
  display: flex;
  justify-content: space-evenly;
}
body #contButtons span {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ffbe4f;
  border-radius: 8px;
  color: #030d6d;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
body #contButtons span:hover {
  box-shadow: 0 0 15px #67ccc4;
}
body #showContent {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  padding: 0;
}
body #showContent div {
  display: none;
}
body #showContent .active {
  display: inline-block;
}
body #showContent h2 {
  margin: 8px 0 8px 30px;
}
body #showContent p {
  display: inline-block;
  text-align: center;
}
body #awards {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  padding: 0;
}
body #awards h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
}
body #owl1 div {
  text-align: center;
}
body #comm {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  padding: 0;
  overflow: hidden;
}
body #comm h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
}
body #owl2 div {
  display: inline-block;
  position: relative;
}
body #owl2 div img {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0;
  border-radius: 12px;
  position: relative;
  left: 0;
  float: left;
}
body #owl2 div h2 {
  display: inline-block;
  width: calc(100% - 140px);
  margin: 10px 20px;
  vertical-align: top;
  text-align: left;
}
body #owl2 div p {
  display: inline-block;
  margin-top: 10px 5px;
}
body footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  position: relative;
  margin: 0;
  padding: 20px 0;
  background-color: #212121;
  color: #656565;
  font-size: 15px;
}
body footer p {
  text-align: center;
}
body footer p span {
  display: inline-block;
  margin: 5px 0 0 0;
}
body footer a {
  display: inline-block;
  color: #656565;
}

@media screen and (max-width: 1048px) {
  body #main section {
    right: 15%;
  }
}
@media screen and (max-width: 768px) {
  body #main #main-ph {
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    margin: 10px 0 0 0;
  }
  body #main section {
    min-width: 0;
    min-height: 420px;
    width: 100%;
    position: relative;
    right: 0;
  }
  body #contButtons span {
    font-size: 15px;
    padding: 6px 12px;
  }
  body #showContent {
    margin-top: 10px;
  }
  body #owl1 div img {
    width: 90%;
    left: 5%;
  }
  body #owl2 {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body #owl2 div img {
    width: 70px;
    height: 70px;
  }
  body #owl2 div h2 {
    font-size: 20px;
  }
}