@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #BFE5EE;
}
body #main-ph {
  width: 30%;
  margin: 30px 5%;
  box-sizing: border-box;
  box-shadow: 0 0 30px #EDBD6B;
  border-radius: 6px;
}
body #main-block {
  display: inline-block;
  width: 40%;
  float: right;
  margin-right: 10%;
  margin-top: 3%;
  text-align: center;
}
body #main-block h2, body #main-block h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #04082E;
}
body #main-block h2 {
  font-size: 32px;
}
body #main-block h3 {
  font-size: 24px;
}
body #main-block .button {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  padding: 16px 32px;
  margin: 20px 40px;
  border: 2px solid #EDBD6B;
  border-radius: 16px;
  color: #2A7C75;
  box-shadow: 2px 2px 6px #2A7C75;
  transition: 1.5s;
}
body #main-block .button:hover {
  background-color: #EBFFFF;
}
body #main-block #links {
  display: inline-block;
  margin-top: 30px;
}
body #awards {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  background-color: #EBFFFF;
  color: #BFE5EE;
}
body #comments {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  color: #EBFFFF;
  background-color: #BFE5EE;
}